/**
 * fil: css/style.css
 **/

/*font som jeg også har brugt til at designe mit produkt */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* her ville jeg lave css variabler, men da det giver fejl i validereringen har jeg valgt at lade være og skrive det manuelt hvert sted */


/* Header som er fixed så man hurtigt han klikke sig videre til andre sider */
nav{
  display: flex;
  width: 100%;
  height: 15%;
  background-color: white;
    opacity: 50%;
  align-items: center;
  justify-content: center;
    position: fixed;
    top: 0;
}

a{
  text-decoration: none;
  color: #464545;
  margin: 0 40px;
}

/* Her er logoet centreret i headeren som linker tilbage til forsiden */
.logo{
    height: 90%;
    width: auto;
    line-height: 100px;
    vertical-align: middle;  
}

/* baggrundsfarven på hjemmesiden */
body{
    background-color: #F4F0F0;
}

/* et billede jeg har sat ned i kvalitet for at sænke loadtime (dette gælder alle billederne på hjemmesiden) */
.web1{
    margin-top: 7%;
    max-width: 100%;
    height: auto;
    
}

/*overskriften på den lille reklame for kampagnen */
.kampagne_overskrift{
    font-family: Helvetica Neue; 
    color: #464545;
    text-align: center;
 
}

/*teksten på den lille reklame for kampagnen */
.kampagne_tekst{
    font-family: Helvetica Neue;
    color: #464545;   
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: -1%;
    
}

/* her centrerer jeg billedet af chokoladebaren */
.choko{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
    opacity: 90%;
    
    
    
}

/*her designer jeg mit link til kampagnen så det ligner en knap med baggrundsfarve osv. */
.knap{
    
     display: block; 
    height: 50px;
    width: 300px;
    background-color: white;
    color: #464545; 
    text-align: center; 
    font-size: 140%; 
    line-height: 50px; 
    font-family: Helvetica Neue;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: -4%;
      
}

/* width indstilles til max 100% så billedet ikke kan blive større end det og er responsivt*/
.web2{
    max-width: 100%;
    height: auto;
}

/*hele dette stykke gælder det samme som oppe ved kampagnen, bare for et sommerkatalog i stedet */
.katalog{
    font-family: Helvetica Neue;
    color: #464545;
    text-align: center;   
}

.katalog_tekst{
    font-family: Helvetica Neue;
    color: #464545;   
    text-align: center;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: -1%;   
}

/* her centrerer jeg billedet af katalog */
.katalog_bil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}

.knap2{
    display: block; 
    height: 50px;
    width: 300px;
    background-color: white;
    color: #464545; 
    text-align: center; 
    font-size: 140%; 
    line-height: 50px; 
    font-family: Helvetica Neue;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.web3{
    max-width: 100%;
    height: auto;
}

/* Her er min footer, som er delt op i 3 kolonner med logo'er og links til sociale medier. Det havde været lettere at bruge flexbox, men det fandt jeg færst ud af senere, og nåede derfor ikke at lave det om */
.footer{
    bottom: 0px;
    width: 97%; 
    background: #939292; 
    padding: 10px 20px;
}

/* her styler jeg teksten i venstre kolonne, hvor jeg bl.a. fjerner bullets fra listen osv. */
.venstre_bund{
    text-decoration: none;
    list-style: none;
    color: white;
    list-style-type: none;
    font-family: Helvetica Neue;
    position: relative;   
}

/* dette er styles for overskriften i venstre kolonne */
.venstre_top{
    color: white;
    text-align: left;
    margin-left: 60px;
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 1.5;
    margin-top: -20px;   
}

/* dette er styles for overskriften af midter kolonnen*/
.midt_top{
    color: white;  
    text-align: center;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 1.5;
    margin-top: -240px;
}


/* her styles teksten for midter kolonnen */
.midt_bund{
    color: white;
    text-align: center;
    font-family: Helvetica Neue;
    position: relative;
    right: 30px;
    top: -5px;
}

/* dette er styles for overksriften af højre kolonne, hvor der bla.a er brugt float for at få tingene til at stå på linje*/
.højre_top{
    color: white;
    text-align: right;
    margin-right: 60px;
    font-size: 14px;
    margin-top: -163px;
    float: right
}

/* her fjernes der bullets fra alle listerne */
ul{
  list-style-type: none;
}

/* dette er styles for logoerne af mail og telefon i venstre kolonne, hvor der også er benyttet float for at kunne placere det på linje med teksten */
.venstre_bund img{
    height:25px;
    width: 35px;
    float:left;
    right: 7px;
    position: relative;
}

/* styles for de tre ikoner for sociale medier med link. her er der også brugt float */
.højre_bund img{
  height:50px;
    width: 60px;
    float: right;
    position: relative;
    right: 30px;
    top: -120px
}

/* her starter styles for kampagne-siden */

/* tekstafsnit om kampagnen med overskrift og brødtekst */
.charlie_overskrift{
    font-family: 'Lobster', cursive;
    float: left;
    margin-top: 130px;
    margin-left: 200px;
    font-size: 23px;
    color: #464545;   
    text-align: center;
}

.charlie_tekst{
    float: left;
    margin-left: 30px;
    margin-right: 740px;
    font-size: 18px;
    margin-top: -20px;
    color: #464545;   
    text-align: center;
}

/* billede af den golden ticket som fungerer som gavekort i nogle af chokoladebarerne */
.golden_ticket{
    float: right;
    position: relative;
    margin-top: -340px;
    margin-right: -50px;      
}

/* tekstafsnit om fairtrade med overskrift og brødtekst */
.fairtrade_overskrift{
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    color: #464545;   
    text-align: center;
    margin-top: 100px;
    margin-right: -450px;    
}

.fairtrade_tekst{
    float: right;
    font-size: 18px;
    color: #464545;   
    text-align: center;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 750px;  
}

/* billede af bagsiden af chokoladebaren */
.bagside{
    float: right;
    margin-right: -50px;
    opacity: 85%;
    margin-top: -30px;
}

/* min inforgrafik */
.infografik{
    float: left;
    margin-left: -12px;
    margin-top: -610px
    
}

/* Her indsætter jeg billeder og tekst af de 5 varianter af chokoladebarer */

.original{
    float: left;
    margin-left: 170px;
    margin-top: 60px;
    opacity: 85%;
}

.original_overskrift{
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    color: #464545;   
    text-align: center;
    margin-top: 100px;
    margin-right: 390px;
    
}

.original_tekst{
    float: right;
    color: #464545;   
    text-align: center;
    font-size: 18px;
    margin-right: 300px;
    margin-left: 760px;
    margin-top: -290px;
}

.mandel{
    float: right;
    margin-right: 200px;
    margin-top: 20px;
    opacity: 85%;
}

.mandel_overskrift{
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    color: #464545;   
    text-align: center;
    margin-top: 60px;
    margin-left: 320px;
    
}

.mandel_tekst{
   float: left;
    color: #464545;   
    text-align: center;
    font-size: 18px;
    margin-left: 175px;
    margin-right: -300px;
    margin-top: -25px; 
}

.saltkaramel{
    float: left;
    opacity: 85%;
    margin-top: 20px;
    margin-left: 170px;
}

.saltkaramel_overskrift{
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    color: #464545;   
    text-align: center;
    margin-top: 55px;
    margin-right: 340px;
    
}

.saltkaramel_tekst{
    float: right;
    color: #464545;   
    text-align: center;
    font-size: 18px;
    margin-right: 300px;
    margin-left: 760px;
    margin-top: -300px;
}

.havsalt{
    float: right;
    margin-right: 200px;
    margin-top: 20px;
    opacity: 85%;
}

.havsalt_overskrift{
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    color: #464545;   
    text-align: center;
    margin-top: 60px;
    margin-left: 320px;
}

.havsalt_tekst{
    float: left;
    color: #464545;   
    text-align: center;
    font-size: 18px;
    margin-left: 175px;
    margin-right: -300px;
    margin-top: -25px; 
}

.orange{
     float: left;
    opacity: 85%;
    margin-top: 20px;
    margin-left: 170px;
}

.orange_overskrift{
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 23px;
    color: #464545;   
    text-align: center;
    margin-top: 55px;
    margin-right: 340px;
}

.orange_tekst{
    float: right;
    color: #464545;   
    text-align: center;
    font-size: 18px;
    margin-right: 300px;
    margin-left: 760px;
    margin-top: -300px;
}

/* mediarules for desktop*/
@media only screen and (min-width: 992px){
   
    
}
    
}
    
/* mediarules for tablet*/
    @media only screen and (min-width: 768px){
      
        
        
}
    
    
/* mediarules for telefon*/
@media only screen and (min-width: 200px){
   
        
        
    
    
}